<!DOCTYPE html>
<html xmnls="http://w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Listado Clientes</title>
        <meta charset="UTF-8"/>
        <link href="/css/registro.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{registro/fragmentos :: agregarCliente}"/> 
        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>