<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <link href="/css/registro.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section class="vh-100 gradient-custom">

            <div class="container mt-5">
                <div style="width:600px;margin-left: auto;margin-right: auto;padding: 24px;">
                    <div class="card">
                        <div class="card-header">
                            <i th:text="#{login.boton}" class="fa fa-user"></i>
                        </div>
                        <div class="card-block" style="padding: 24px;">
                            <form name="f" th:action="@{/login}" method="post">
                                <fieldset>
                                    <!-- Thymeleaf + Spring Security error display -->
<!--                                    <div th:if="${param.error}" class="alert alert-danger">
                                        Invalid username and password.
                                    </div>-->
           
                                    <!-- Login Controls -->
                                    <div >
                                        <label class="controls"th:text="#{cliente.correo}" for="txtUsername">Username</label>
                                        <input type="text" class="controls" id="username" name="username"
                                               placeholder="Username" required>
                                    </div>
                                    <div >
                                        <label th:text="#{admin.contra}" for="txtPassword">Password</label>
                                        <input type="password" class="controls" id="password" name="password"
                                               placeholder="Password" required>
                                    </div>
                                    <!-- Login Button -->
                                    <div  style="margin-top: 12px;">
                                        <button th:text="#{login.boton}" type="submit" class="botons">Log in</button>
                                    </div>
                                </fieldset>
                            </form>

                            <a th:text="#{plantilla.registrarse}" class="btn-outline-dark" href="/registro/cliente/registro" role="button">Registrarse</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>

</html>
